<head>
<!-- FB meta sharing tags -->
    <meta property="og:title" content="Foodscape" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.myfoodscape.com" />
    <meta property="og:image" content="{{avatarUrl}}" />
    <meta property="og:description" content="Checkout my foodscape!">
<!-- end meta tags -->
</head>

<div class="signup-page garden-page new-garden-page">
  <div class="container-fluid">
  <!-- <div class="container"> -->

    <!-- These are each different modal windows -->
    <modal-dialog show='modalShown'>
    <!-- This is the message box that pops up when you click message -->
      <div ng-show="showMessage" class="message-box">
        <h1>Send a message to {{scapeName}}!</h1>
        This will pass along your email address.
        <textarea ng-model="messageText">Write a message here.</textarea>
        <button ng-click="send(messageText)" class="btn get-started-btn">Send</button>
      </div>
      <!-- This gets triggered when you click send -->
      <div ng-show="sent" class="thank-box">
        <h1>Thank you!</h1>
        <p> Your message to {{username}} has been sent. </p>
        <button ng-click="toggleModal()" class="btn get-started-btn">Okay</button>
      </div>

    <!-- For share -->
      <div ng-show="shareInput" class="message-box">
        <h1>Share this foodscape!</h1>
        Enter email addresses separated by commas.
        <textarea class="emailEntry" ng-model="shareEmails">Write email addresses here separated by commas.</textarea>
        Add a message.
        <textarea class="shareMessage" ng-model="shareMessage"></textarea>
        <button ng-click="shared(shareEmails, shareMessage)" class="btn get-started-btn">Send</button>
        <div class="fb-share-button" data-href="" data-layout="button"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out my new foodscape!" data-size="large" data-hashtags="myfoodscape">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <!-- This gets triggered when you click send for share -->
      <div ng-show="sentShare" class="thank-box">
        <h1>Thank you!</h1>
        <p> You have shared {{scapeName}}. </p>
        <button ng-click="toggleModal()" class="btn get-started-btn">Okay</button>
      </div>

      <!-- This gets triggered when you click the payment button -->
      <div ng-show="shouldShowPaymentForm" class="payment-box">
        <div class="stripe-form-container">
          <p class="lead text-center"> Submit your payment information </p>
          <form class="stripe-payment-form form-inline" stripe-form="getStripeToken" name="stripeForm">
            <!-- The payments-format and payments-validate directives below come from the angular-payments plugin-->
              <div class="form-group" ng-class="{'has-success': stripeForm.card.$valid, 'has-error': stripeForm.card.$invalid}">
                <label for="">Card number</label>
                <input ng-model="number" placeholder="1234-1234-1234-1234" payments-format="card" payments-validate="card" class="form-control" name="card"/>
              </div>
            <div class="form-group" ng-class="{'has-success': stripeForm.expiry.$valid, 'has-error': stripeForm.expiry.$invalid}">
              <label for="">Expiration</label>
              <input ng-model="expiry" placeholder="01/2017" payments-format="expiry" payments-validate="expiry" class="form-control" name="expiry"/>
            </div>
            <div class="form-group" ng-class="{'has-success': stripeForm.cvc.$valid, 'has-error': stripeForm.cvc.$invalid}">
              <label for="">CVC</label>
              <input ng-model="cvc" placeholder="123" payments-format="cvc" payments-validate="cvc" class="form-control" name="cvc" ng-class="{'has-error': stripeForm.cvc.$invalid}"/>
            </div>
            <p class="text-center">
              <button type="submit" class="btn btn-success">Submit</button>
            </p>
          </form>
        </div>
      </div>
      <!-- Payments step 2.  We have the stripe token.  Now verify other stuff...-->
      <div ng-show="shouldShowPaymentConfirmation" class="stripe-payment-confirmation-form-container">
        <form class="form-inline stripe-payment-confirmation-form">
          <p class="lead text-center">You want to charge ${{paymentAmountInDollars}} to your card, correct?</p>
          <p class="text-center">
            <button type="submit" class="btn btn-success" ng-click="confirmStripePaymentAndCharge()">Confirm Payment</button>
          </p>
        </form>
      </div>
      <!-- Payments step 3: thank you! -->
      <div ng-show="shouldShowPaymentThankYou" class="stripe-payment-thank-you-container">
        <p class="lead text-center"> Thank you! Your payment of ${{paymentAmountInDollars}} has been charged to your card. Now you can start enjoying delicious, fresh, and local produce!</p>
        <p class="text-center">
          <button class="btn btn-default" ng-click="toggleModal()">Close</button>
        </p>
      </div>


      <!-- This gets opened after a user follows somoene -->
      <div ng-show="showFollow" class="follow-confirm">
        <h1> You are now following {{scapeName}}. </h1>
        <button ng-click="toggleModal()" class="btn get-started-btn">Okay</button>
      </div>
      <!-- This gets opened when a user clicks "unfollow" in order to make sure the user actually wants to unfollow that foodscape -->
      <div ng-show="unfollowConfirmBox" class="follow-confirm">
        <h1> Are you sure you want to unfollow {{scapeName}}? </h1>
        <p> You will no longer get updates from {{scapeName}} and will not be able to view {{scapeName}} without a direct link. </p>
        <button ng-click="unfollow()" class="btn get-started-btn">Yes</button>
        <button ng-click="toggleModal()" class="btn get-started-btn">Cancel</button>
      </div>
      <!-- This gets opened when a user says that they did, in fact, want to unfollow a foodscape -->
      <div ng-show="unfollowedMessage" class="follow-confirm">
        <h1> You are no longer following {{scapeName}}. </h1>
        <button ng-click="toggleModal()" class="btn get-started-btn">Okay</button>
      </div>
    </modal-dialog>
  <!-- end message box contents -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- Green bar at the top -->
        <div class="profile-bar">
          <h2> {{scapeName}} </h2>
          <p>{{statusBar}}</p>

          <!-- These buttons show up when the user has not followed this person's page or is not logged in -->
          <button ng-show="userFollowing" class="btn get-started-btn" ng-click="unfollowConfirm()">Unfollow</button>
          <button ng-show="userFollowing" ng-click="showPaymentModal()" class="btn get-started-btn">Join ($15/mo)</button>
          <!-- <button ng-hide="usersScape" class="btn message-btn">Share Profile</button> -->

          <!-- This button shows up when the user is following this person already...ask if there needs to be a share button here, too -->
          <button ng-show="userNotFollowing" ng-click='follow()' class="btn get-started-btn">Follow</button>

          <!-- These buttons show up when this this is the user's page and they are logged in -->
          <button ng-click="shareScape()" class="btn get-started-btn">Share</button>
          <button ng-show="usersScape" ng-click="edit()" class="btn message-btn">Edit Foodscape</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <!-- This is so that it's squished into the center -->
      <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 profile-info">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- <div class="profile-pic"> -->
              <!-- ? -->
              <div class="col-xs-4 col-sm-12">
                <img class="profile-pic" ng-src="{{avatarUrl}}">
            <!-- </div> -->
                <div id="showUsername"> {{username}}</div>
              </div>
            
<!--             </br> -->

            <!-- This button shows up when this is somebody else's page -->
            <div class="col-xs-6 col-sm-12">
              <button ng-show="showMessageButton" ng-click='message()' class="btn message-btn">Message</button>
            </div>
          </div>
          <!-- End profile icon and message sidebar -->

          <div class="col-xs-12 col-md-9 col-sm-9 col-lg-9">
            <!-- <img src="assets/images/community-2.png" width="100%"> -->
            <!-- rn-carousel-controls -->
            <div class="col-xs-12 col-sm-12">
              <div class="carousel-demo">
                <ul rn-carousel  rn-carousel-controls-allow-loop rn-carousel-on-infinite-scroll-left="loadPreviousImages()" rn-carousel-on-infinite-scroll-right="loadNextImages()" rn-carousel-buffered class="car-image" rn-carousel-index="carouselIndex">
                  <!-- <li ng-repeat="image in gardenImages track by $index"> -->
                  <li ng-repeat="image in gardenImages track by image.id">

                    <div class="layer">
                      <!-- max-width="100%" width="100%" max-height="100%" -->
                      <img class="car-image slide-image img" ng-src="{{ image.url }}" >
                    </div>
                  </li>
                </ul>
                <!-- ng-if="gardenImages.length > 1" -->
                <div rn-carousel-indicators ng-if="gardenImages.length > 1" slides="gardenImages" rn-carousel-index="carouselIndex" class="rn-carousel-indicators">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="box-container">
                  <!-- Use ng-bind to bind each of the elements under the divs to their appropriate data -->
                  <div class="info-title">Location</div>
                  {{location}}
                  <div class="info-title">Produce</div>
                  <div ng-repeat="plant in myProduce">
                    {{plant}}
                  </div>

                  {{extraProduce}}

                  <div class="info-title">Goals/Needs</div>
                  <div ng-repeat="goal in myGoals track by $index">
                    I would like to {{goal}}.
                  </div>
                  {{extraGoal}}

                  <div class="info-title">Other Details</div>
                  {{otherDetails}}

                  <div class="info-title">Updates</div>
                  <div ng-repeat="update in updates">
                    <div class="updateDate"> {{update.date}}</div>
                    <div class="updateContent">{{update.content}}</div>
                  </div>
                  <form ng-show="usersScape">
                    <textarea ng-model="update.text"></textarea>
                    <button ng-click="postIt(update)" class="btn message-btn update-btn">Add Update</button>
                    <!-- <button onclick="sendTheMail(); return false;">Send the Mail</button> -->
                  </form>
                  <!-- Use ng-repeat here to put the date and content of each message -->
                  <!-- <pre id="response"></pre> -->

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-xs-offset-7">

                <!-- This button shows up when this is someone else's profile -->
                <button ng-show="showMessageButton" ng-click='message()' class="btn message-btn">Message</button>

                <!-- This button shows up if the user follows this person -->
                <button ng-show="userFollowing" ng-click="unfollowConfirm()" class="btn get-started-btn">Unfollow</button>

                <!-- This button shows up if the user does not follow this person -->
                <button ng-show="userNotFollowing" ng-click="follow()" class="btn get-started-btn">Follow</button>

                <!-- No buttons if this is the user's page -->


              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>