.profile-bar{
	margin-top: -80px;
	background-color: #c3c964;
	height: 200px;
	text-align: center;
	padding: 20px;
}

.box-container {
  		border-radius: 8px;
  		background: #FFF;
  		padding: 50px;
}