<div class="signup-page garden-page existing-garden-page">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="content-box">
        <div class="box-container">
          <div class="stages-container">
            <div class="line"></div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-click="chooseSection(1)">
                <p class="text">About your garden</p>
                <div class="circle" ng-class="{'orange':(selectedSection==1)}">1</div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-click="chooseSection(2)">
                <p class="text">Date and Time</p>
                <div class="circle" ng-class="{'orange':(selectedSection==2)}">2</div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-click="chooseSection(3)">
                <p class="text">Book</p>
                <div class="circle" ng-class="{'orange':(selectedSection==3)}">3</div>
              </div>
            </div>
          </div>

          <div class="section" ng-show="selectedSection==1">
            <h2 class="title">Tell us about your current garden!</h2>

            <a ui-sref="new-garden" class="link">Wait! I'd like to start a new garden!</a>
            
            <h4 class="question">1. Approximately what size is your garden (in square feet)?</h4>
            <div class="input-container">
              <input class="form-control" placeholder="Numbers and decimals only!" />
            </div>

            <div class="row" style="margin-top:15px;">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="image size25"></div>
                <p>This is approximately what a 25 sq. ft garden looks like.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="image size50"></div>
                <p>This is approximately what a 50 sq. ft garden looks like.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="image size100"></div>
                <p>This is approximately what a 100 sq. ft garden looks like.</p>
              </div>
            </div>

            <h4 class="question">2. What would you like help with? Choose all that apply.</h4>

            <div class="row caption-images">
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img" src="assets/images/forms/planning.png" />
                <h5 class="caption">Planning and Advice</h5>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img selected" src="assets/images/forms/generalhelp.png" />
                <h5 class="caption">General Help</h5>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img" src="assets/images/forms/planting.png" />
                <h5 class="caption">Planting</h5>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img" src="assets/images/forms/irrigation.png" />
                <h5 class="caption">Irrigation</h5>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img selected" src="assets/images/forms/weeding.png" />
                <h5 class="caption">Weeding</h5>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img" src="assets/images/forms/pestcontrol.png" />
                <h5 class="caption">Pest Control</h5>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img" src="assets/images/forms/gardensitter.png" />
                <h5 class="caption">Garden Sitter</h5>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img" src="assets/images/forms/soilandcompost.png" />
                <h5 class="caption">Soil and Compost</h5>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img" src="assets/images/forms/cleanup.png" />
                <h5 class="caption">Clean Up</h5>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img" src="assets/images/forms/notsureyet.png" />
                <h5 class="caption">Not Sure Yet</h5>
              </div>
            </div>
            
            <h4>Other:</h4>
            <div class="input-container">
              <input class="form-control" placeholder="What are you looking for?" />
            </div>

            <h4 class="question">3. Do you have access to materials/tools?</h4>
            <div class="input-container">
              <textarea class="form-control" placeholder="If yes, please list here."></textarea>
            </div>

            <h4 class="question border-top">6. Please upload up to 3 images of your garden space (optional). You can save and do this later before submitting your application.</h4>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="image placeholder-image">
                  <i class="fa fa-picture-o"></i>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="image placeholder-image">
                  <i class="fa fa-picture-o"></i>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="image placeholder-image">
                  <i class="fa fa-picture-o"></i>
                </div>
              </div>
            </div>

            <div class="upload-button-container" align="right">
              <buttonc class="btn get-started-btn">Upload</buttonc>
            </div>

            <h4 class="question">7. Is there anything else you'd like us to know? (Optional).</h4>
            <div class="input-container">
              <textarea class="form-control"></textarea>
            </div>
          </div>

          <div class="section" ng-show="selectedSection==2">
            <h2 class="title">Select your garden service</h2>

            <h4 class="question">1. Please select a service option</h4>
            <div class="radio">
              <label>
                <input type="radio" name="q1">
                <span class="bolder">$10/month:</span> Unlimited personal garden advice via text and e-mail
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="q1">
                <span class="bolder">$35/month:</span> Monthly visit from a gardner
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="q1">
                <span class="bolder">$60/month:</span> Biweekly visit from a gardner
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="q1">
                <span class="bolder">$100/month:</span> Weekly visit from a gardner
              </label>
            </div>
            <div class="tip">* Each visit is 30-60 minutes long</div>

            <h4 class="question">2. When would you like your first appointment?</h4>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="input-container">
                  <select class="form-control">
                    <option>Date</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="input-container">
                  <select class="form-control">
                    <option>Time</option>
                  </select>
                </div>
              </div>
            </div>

            <h4 class="question">3. Is there anything else you'd like us to know? (Optional).</h4>
            <div class="input-container">
              <textarea class="form-control"></textarea>
            </div>

            <h4 class="question border-top">4. Garden address details:</h4>
            <div class="input-container">
              <input class="form-control" placeholder="Address Line 1" />
            </div>
            <div class="input-container">
              <input class="form-control" placeholder="Address Line 2" />
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="input-container">
                  <input class="form-control" placeholder="City" />
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="input-container">
                  <input class="form-control" placeholder="State" />
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="input-container">
                  <input class="form-control" placeholder="Zip" />
                </div>
              </div>
            </div>
            <div class="input-container">
              <input class="form-control" placeholder="Phone number i.e. 555-555-5555" />
            </div>
          </div>

          <div class="section" ng-show="selectedSection==3">
            <h2 class="title">Your garden service details</h2>

            <h4 class="statement">
              <span class="bolder">Service:</span> Unlimited personal garden advice via text and e-mail
            </h4>

            <h4 class="statement">
              <span class="bolder">Start Date:</span> August 1, 2015
            </h4>

            <h4 class="statement">
              <span class="bolder">Estimate:</span> $10
            </h4>

            <h5>Cancellation and service modification details go here.</h5>

            <h4 class="question border-top">Payment Details</h4>
            <h5>Statement about when they will be charged.</h5>

            <div class="input-container">
              <input class="form-control" placeholder="Cardholder Name" />
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="input-container">
                  <input class="form-control" placeholder="Card Number" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-container">
                      <select class="form-control">
                        <option>01</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-container">
                      <select class="form-control">
                        <option>2012</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-container">
                      <input class="form-control" placeholder="CVC" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h5>Security/privacy statement goes here.</h5>

          </div>

          <div align="right" class="buttons-container">
            <button class="btn btn-large get-started-btn back-btn" ng-if="backButtonVisible" ng-click="backButtonClicked()"><i class="fa fa-chevron-left"></i> Back</button>
            <button class="btn btn-large get-started-btn save-btn">Save</button>
            <button class="btn btn-large get-started-btn continue-btn" ng-click="continueButtonClicked()">{{submitButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>