<div class="signup-page">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="content-box">
        <div class="box-container">
          <h1 class="title">Sign up to get started</h1>

          <div ng-show="error_message" class="error-message">
            One or more of these fields is incorrect. Please make sure your email is valid and unique and that your passwords match.
          </div>

<!-- Probably remove novalidate to add error handling -->
          <form novalidate class="simple-form form">
            <div class="double-input">
              <div class="input-container">
                <input type="text" ng-model="user.name" class="form-control" placeholder="Name" />
              </div>
              <div class="input-container">
                <input type="email" ng-model="user.email" class="form-control" placeholder="E-mail" />
              </div>
            </div>

            <div class="double-input">
              <div class="input-container">
                <input type="password" ng-model="user.password" class="form-control" placeholder="Password" />
              </div>
              <div class="input-container">
                <input type="password" ng-model="user.password_confirmation" class="form-control" placeholder="Password Confirmation" />
              </div>
              <div class="input-container">
                <input type="text" ng-model="user.zip_code" class="form-control" placeholder="Zip Code" />
              </div>
            </div>

            <!-- Don't include option for sign up for now -->
            <div class="radio-input">
            	<div class="radio">
      					<label>
        					<input type="radio" name="signupRadio" value="host"  ng-model="user.radio" checked>
        					I grow food and want to share my foodscape with friends
      					</label>
      				</div>
            	<div class="radio">
      					<label>
        					<input type="radio" name="signupRadio" value="helper" ng-model="user.radio">
        					I want to support a local foodscape
      					</label>
				      </div>
            </div>


            <div class="button-container">
              <!-- <a ui-sref="new-garden" href="#/new-garden"> -->
                <button type="submit" ng-click="signUp(user)" class="btn btn-lg get-started-btn signup-page-button">Get Started</button>
                <!-- <a href="/users/auth/facebook/callback" ng-click="auth()">
                  <img id="facebook" src="https://www.travelindicator.com/images/fbconnect.png">
                </a> -->
              <!-- </a> -->
            </div>
          </form>
        </div>

        <div class="box-link">
          <a ui-sref="login">Already have an account? Log In.</a>
        </div>
      </div>
    </div>
  </div>
</div>