<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <!-- FB meta sharing tags -->
    <!-- <meta property="og:title" content="Foodscape" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.myfoodscape.com" />
    <meta property="og:image" content="assets/images/Foodscape-DefaultPhoto-Cartoon.jpg" />
    <meta property="og:description" content="Checkout my foodscape!"> -->
    <!-- end meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|Muli:400,400italic' rel='stylesheet' type='text/css'>

    <!-- font awesome from BootstrapCDN -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/ngbp-0.3.2.css" />

    <!-- compiled JavaScript -->
    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="vendor/angular-touch/angular-touch.js"></script>
    <script type="text/javascript" src="vendor/angular-carousel/dist/angular-carousel.js"></script>
    <script type="text/javascript" src="src/app/about/about.js"></script>
    <script type="text/javascript" src="src/app/app.js"></script>
    <script type="text/javascript" src="src/app/existing-garden/existing-garden.js"></script>
    <script type="text/javascript" src="src/app/following/following.js"></script>
    <script type="text/javascript" src="src/app/home/home.js"></script>
    <script type="text/javascript" src="src/app/login/login.js"></script>
    <script type="text/javascript" src="src/app/new-subscriber/new-subscriber.js"></script>
    <script type="text/javascript" src="src/app/show-garden/show-garden.js"></script>
    <script type="text/javascript" src="src/app/edit-garden/edit-garden.js"></script>
    <script type="text/javascript" src="src/app/create-garden/create-garden.js"></script>
    <script type="text/javascript" src="src/app/signup/signup.js"></script>
    <script type="text/javascript" src="src/app/thank-you/thank-you.js"></script>
    <script type="text/javascript" src="src/common/plusOne/plusOne.js"></script>
    <script type="text/javascript" src="templates-common.js"></script>
    <script type="text/javascript" src="templates-app.js"></script>
    <script type="text/javascript" src="https://mandrillapp.com/api/docs/js/mandrill.js"></script>
    <script src="vendor/ng-file-upload-shim/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="vendor/ng-file-upload/ng-file-upload.min.js"></script>

    <!-- <link href="/UI/vendor/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css" /> -->

    <!-- FAVICON -->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/carrot.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/carrot.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/carrot.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/carrot.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/carrot.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/carrot.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/carrot.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/carrot.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/carrot.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/carrot.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/carrot.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/carrot.ico/favicon-96x96.png"> -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/carrot.ico/favicon-16x16.png">
    <!-- <link rel="manifest" href="/assets/images/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> -->
<meta name="theme-color" content="#ffffff">
  </head>

  <!-- begin olark code -->
  <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
  f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
  0:+new Date};a.P=function(u){
  a.p[u]=new Date-a.p[0]};function s(){
  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
  b.contentWindow[g].open()}catch(w){
  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('8586-135-10-4308');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8586-135-10-4308/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1624366134486986',
          xfbml      : true,
          version    : 'v2.4'
        });


      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="navbar-brand">
            <a ui-sref="home" class="logo">
              <img src="assets/images/Foodscape_header_0.png" width="auto" height="150%" />
            </a>
          </div>
        </div>

        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="userLoggedOut">
              <a  ng-click="scrollTo('how-it-works')">
                How It Works
              </a>
            </li>
            <li ng-show="userLoggedOut">
              <a ng-click="scrollTo('FAQ')">
                FAQ
              </a>
            </li>
            <li ng-show="userLoggedOut">
              <a ng-click="scrollTo('community')">
                Our Community
              </a>
            </li>
            <li ng-show="userLoggedOut">
              <a ui-sref="login">
                Login
              </a>
            </li>
            <li ng-show="userLoggedIn" >
              <a ng-click="myFoodscape()">
                My Foodscape
              </a>
            </li>
            <li ng-show="userLoggedIn" >
              <a ng-click="subscriptions()">
                Subscriptions
              </a>
            </li>
            <li ng-show="userLoggedIn" >
              <a ng-click="logout()">
                Logout
              </a>
            </li>
            <li ng-show="userLoggedOut" class="orange-link">
              <a ui-sref="signup">
                Get Started
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
              <div class="link-list">
                <div class="link">
                  <a href="https://www.myfoodscape.com">About Foodscape</a>
                </div>
                <div class="link">
                  <a href="https://join.myfoodscape.com">Jobs</a>
                </div>
                <div class="link">
                  <a href="https://getfarmly.us9.list-manage.com/subscribe?u=074a95ce1151f3e4e7c24e09a&id=83faa09180">Find a Foodscape</a>
                </div>
                <div class="link">
                  <a href="">Terms</a>
                </div>
                <div class="link">
                  <a href="">Contact Us</a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
              <div class="link-list social-list">
                <div class="link">
                  <i class="fa fa-twitter"></i>
                  <a href="https://www.twitter.com/foodscape">Twitter</a>
                </div>
                <div class="link">
                  <i class="fa fa-facebook"></i>
                  <a href="https://www.facebook.com/getscape">Facebook</a>
                </div>
                <div class="link">
                  <i class="fa fa-instagram"></i>
                  <a href="https://www.instagram.com/myfoodscape">Instagram</a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 mailing-list">
              <h4 class="text">Join our mailing list for growing food advice, recipes, promotions and more!</h4>

              <div class="row newsletter-row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <input type="text" class="form-control" placeholder="First Name" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                  <input type="email" class="form-control" placeholder="E-Mail" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <button class="btn btn-block get-started-btn"><a href="http://eepurl.com/bvAmfr">Sign Up</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">Foodscape &copy; 2015</div>
    </footer>
  </body>
</html>
